*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--navyblue);
  font-style: normal;
}

img {
  margin: 0;
  padding: 0;
}

:root {
  --navyblue: #2E2F42;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --iris: #4d5ae5;
}

.container {
  display: inline-flex;
  padding: 24px 156px;
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 100;
}

.nav-menu {
  display: inline-flex;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--navyblue);
  line-height: 1.5rem;
  letter-spacing: 0.32px;
  font-weight: 400;
  list-style: none;
  align-items: center;
  gap: 48px;
}

.nav-address {
  display: inline-flex;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--navyblue);
  line-height: 1.5rem;
  letter-spacing: 0.32px;
  font-weight: 400;
  list-style: none;
  margin-left: 500px;
  gap: 48px;
}

.email,
.tel {
  display: inline-flex;
}

h2 {
  padding: 4px;
  text-align: center;
  font-size: 48px;
}

.img-event {
  position: relative;
}

.footer {
  width: 100%;
  height: 50px;
  padding-top: 5px;
  padding-right: 25px;
  text-align: center;
}

.social-media {
  border-radius: 20%;
  background-color: grey;
  width: 40px;
  height: 40px;
  fill: var(--cloud);
  padding: 8px;
margin-right: 12px;
}